.dropdown {
    display: flex;
    align-items: center;
    grid-area: 3/3/4/5;
    grid-template-rows: 5fr 5fr;
    justify-content: space-evenly;
    /* align-items: center; */
}
.label {
    grid-area: 1/1/1/1;
}
.select {
    grid-area: 2/1/2/1;
    font-size: 0.85rem;
    width: 35%;
    padding: 2%;
    border-radius: 5px;
}
.select:hover {
    cursor: pointer;
}