.dropdown {
    display: grid;
    grid-area: 2/3/2/5;
    grid-template-rows: 5fr 5fr;
    justify-items: center;
    /* align-items: center; */
}
.label {
    grid-area: 1/1/1/1;
}
.select {
    grid-area: 2/1/2/1;
    font-size: 0.85rem;
    width: 50%;
    padding: 2%;
    border-radius: 5px;
}
.select:hover {
    cursor: pointer;
}