.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1dvw;
}
.select {
    font-size: 0.75rem;
    height: 4dvh;
    width: max(40px, 3.5dvw);
    padding: 2%;
    border-radius: 5px;
}
.select:hover {
    cursor: pointer;
}
@media (max-width: 700px) {
    .dropdown {
        gap: 10px;
    }
    .select {
        height: 3dvh;
    }
}