.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10dvh;
  z-index: 2;
  padding: 0% 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.link {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}
.link > h1 {
  font-size: 1.75rem;
}
.link:not(.active):hover {
  color: var(--accent-color);
}
.pending {
  composes: link;
  background-color: grey;
}
.active {
  composes: link;
  text-decoration: 5px underline var(--accent-color);
  color: var(--accent-color);
  font-weight: 600;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.cart {
  background-color: transparent;
  border: transparent;
  width: fit-content;
  border-radius: 0.5rem;
  transition:
    background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5% 1%;
  gap: 0.5rem;
}
.cartNumber {
  font-size: 0.875rem;
  border-radius: 1rem;
  width: 2dvw;
  max-width: 20px;
  min-width: 15px;
  padding: 3%;
  font-weight: 600;
  background-color: var(--accent-color);
  color: white;
  transition:
    background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
}
.cart:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: white;
  .cartNumber {
    background-color: white;
    color: black;
  }
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
}
@media (max-width: 700px) {
  .cartNumber {
    padding: 5%;
  }
  .link > h1 {
    font-size: 1.5rem;
  }
}
