.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10dvh;
    view-transition-name: nav;
    z-index: 2;
    padding: 0% 2rem;
}
.link {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}
.link:not(.active):hover {
    color: var(--accent-color);
}
.pending {
    composes: link;
    background-color: grey;
}
.active {
    composes: link;
    text-decoration: 5px underline var(--accent-color);
    color: var(--accent-color);
    font-weight: 600;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cart {
    background-color: transparent;
    border: transparent;
    width: fit-content;
    border-radius: 10px;
    transition:
        background-color 0.15s ease-in-out,
        color 0.15s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5% 1%;
}
.cartNumber {
    font-size: 0.7rem;
    border-radius: 50px;
    width: max(10px, 35%);
    padding: max(2px, 6%) 0%;
    font-weight: 600;
    background-color: var(--accent-color);
    color: white;
}
.cart:hover {
    cursor: pointer;
    background-color: var(--accent-color);
    color: white;
    .cartNumber {
        background-color: white;
        color: black;
    }
}
.icon {
    height: 4dvh;
    width: fit-content;
}
@media (max-width: 700px) {
    .cartNumber {
        font-size: 0.8rem;
    }
}
@media (min-width: 2000px) {
    .cartNumber {
        font-size: 0.8rem;
    }
}
