.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(300px, 25%);
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 0;
    padding-bottom: 1%;
    gap: 1%;
}
.page {
    background-color: rgba(0,0,0, 0.1);
    padding: 2% 4%;
    border-radius: 10px;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.currentPage {
    composes: page;
    background-color: var(--accent-color);
    color: white;
}
.page:hover {
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
}
.arrow {
    padding: 1.5% 2%;
    border-radius: 10px;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.disabledArrow {
    padding: 1.5% 2%;
    border-radius: 10px;
    color: grey;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

}
.disabledArrow:hover {
    background-color: lightgrey;
}
.arrow:hover {
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
}