.error {
    composes: noResults from "./Shop.module.css"
}
.product {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    gap: 1.5dvw;
}
.productTop {
    display: flex;
    width: 70%;
    gap: 1dvw;
}
.productContent {
    display: flex;
    flex-direction: column;
    width: 95%;
}
.imageContainer {
    grid-area: 1 / 2 / 4 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.image {
    aspect-ratio: 4/3;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.title {
    font-weight: 600;
    margin-bottom: 3%;
}
.category {
    height: auto;
    padding: 2%;
    margin: 0;
    composes: category from "./SmallProduct.module.css"
}
.category:hover {
    background-color: lightsteelblue;
}
.description {
    text-align: justify;
    color: rgba(0,0,0,0.65);
}
.priceCheckout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.price {
    font-weight: 600;
    margin: 0;
}
.button, .buttonRed {
    width: 7dvw;
    height: 7dvh;
}
.button:hover, .buttonRed:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
.goBack {
    height: 100%;
    border-radius: 10px;
    transition: color 0.15s ease-in-out;
}
.goBack:hover {
    color: var(--accent-color);
}
.button {
    composes: button from "./SmallProduct.module.css"
}
.buttonRed {
    composes: buttonRed from "./SmallProduct.module.css"
}
.icon {
    composes: icon from "./Shop.module.css"
}
@media (max-width: 700px) {
    .product {
        flex-direction: column;
    }
    .productTop {
        flex-direction: column;
        width: 100%;
    }
    p.category {
        padding: 1.2dvh 2.5dvw;
    }
}