:root {
    --view-transition-delay: 0.5s;
    --view-transition-curve: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.shop {
    height: 88dvh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.products {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 5%;
    justify-content: space-evenly;
    transition: opacity 0.5s ease-in-out;
    row-gap: 5dvh;
}
.optionsWrap {
    padding-bottom: 3dvh;
}
.options {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 2dvw;
    background-color: #f1f2f4;
    z-index: 1;
}
.option {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3dvh;
    width: max(6dvw, 80px);
}
.option > p {
    font-size: 0.7rem;
}
.icon {
    height: 3.5dvh;
    width: fit-content;
}
.noResults {
    text-align: center;
    padding: 10%;
}
::view-transition-old(root) {
    animation: slideToLeft var(--view-transition-delay) var(--view-transition-curve);
}
::view-transition-new(root) {
    animation: slideFromRight var(--view-transition-delay) var(--view-transition-curve);
}
html:active-view-transition-type(backwards) {
    &::view-transition-old(root) {
        animation: slideToRight var(--view-transition-delay) var(--view-transition-curve);
    }
    &::view-transition-new(root) {
        animation: slideFromLeft var(--view-transition-delay) var(--view-transition-curve);
    }
  }
@keyframes slideToLeft {
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateX(-20%);
    }
}
@keyframes slideFromRight {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}
@keyframes slideToRight {
    70% {
        opacity: 0;
    }
    100% {
        transform: translateX(20%);
        opacity: 0;
    }
}
@keyframes slideFromLeft {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}
@media (max-width: 700px) {
    .products {
        width: 100%;
        padding: 5% 0%;
    }
    @keyframes slideToLeft {
        70% {
            opacity: 0;
        }
        100% {
            opacity: 0;
            transform: translateX(-100%);
        }
    }
    @keyframes slideFromRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        70% {
            opacity: 1;
        }
    }
    @keyframes slideToRight {
        70% {
            opacity: 0;
        }
        100% {
            transform: translateX(100%);
            opacity: 0;
        }
    }
    @keyframes slideFromLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        70% {
            opacity: 1;
        }
    }
}
