.shop {
    height: 100%;
    overflow-y: scroll;
}
.products {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 5%;
    justify-content: space-evenly;
    transition: opacity 0.5s ease-in-out;
    row-gap: 5dvh;
}
.options {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    border-radius: 10px;
    font-size: 0.7rem;
    background-color: var(--accent-color);
    color: white;
    padding: 3% 5%;
    transition: background-color 0.15s ease-in-out;
    font-weight: 600;
    border: none;
}
.option {
    composes: button;
    padding: 3% 0%;
    width: 30%;
    height: 6dvh;
}
.option:hover, .optionClicked {
    cursor: pointer;
    background-color: lightsteelblue;
    color: black;
}