.menu {
    display: grid;
    grid-template-columns: 9.5fr 0.5fr;
    grid-template-rows: 0.5fr 9.5fr;
    position: fixed;
    background-color: #e8e8e8;
    width: 21.5%;
    z-index: 1;
    top: 0%;
    height: 100%;
    overflow: auto;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1%;
    margin: 0;
}
.menuLeft {
    composes: menu;
    right: auto;
}
.menuRight {
    composes: menu;
    left: auto;
}
.slideInLeft {
    composes: menuLeft;
    opacity: 1;
    animation: slideInLeft 0.5s ease-in-out;
}
.slideOutLeft {
    composes: menuLeft;
    animation: slideOutLeft 0.5s ease-in-out forwards;
}
.slideInRight {
    composes: menuRight;
    opacity: 1;
    animation: slideInRight 0.5s ease-in-out;
}
.slideOutRight {
    composes: menuRight;
    animation: slideOutRight 0.5s ease-in-out forwards;
}
.cancelButton {
    grid-area: 1/2/1/2;
    height: fit-content;
    background-color: transparent;
    border: none;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cancelButton:hover {
    color: red;
    cursor: pointer;
    background-color: transparent;
}
@keyframes slideOutLeft {
    90% {
        opacity: 1;
    }
    100% {
        translate: -100%;
        opacity: 0;
    }
}
@keyframes slideInLeft {
    0% {
        translate: -80%;
        opacity: 0.8;
    }
}
@keyframes slideOutRight {
    90% {
        opacity: 1;
    }
    100% {
        translate: 100%;
        opacity: 0;
    }
}
@keyframes slideInRight {
    0% {
        translate: 80%;
        opacity: 0.8;
    }
}